/* Loader page */
#jezloader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 1150px;
    height: 1150px;
    margin: -75px 0 0 -75px;
    border: 5px solid lightgrey;
    border-radius: 50%;
    border-top: 5px solid grey;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
.myspinner {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 5px solid lightgrey;
    border-radius: 50%;
    border-top: 5px solid grey;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#jezlayout {
    display: none;
    text-align: center;
}


/* Style for home page and header */
h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI";
}

body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}
/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url("../images/Cross-Sky.gif");
    min-height: 680px;
}
/* Second image (Bible) */
.bgimg-2 {
    background-image: url("../images/bibletext.jpg");
    min-height: 600px;
}
/* Third image (People) */
.bgimg-3 {
    background-image: url("../images/FBCPeople.png");
    min-height: 600px;
}

.w3-wide {
    letter-spacing: 10px;
}

.w3-hover-opacity {
    cursor: pointer;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
        min-height: 400px;
    }
}


@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -30px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -30px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}
